@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css);
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.todo {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #aaa;
  padding: 0 1%;
  margin: 5% 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  color: #333;
}

.todo .add-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #aaa;
  border-radius: 50px 50px 50px 50px;
  width: 90%;
  margin: 2% 0;
}

.todo .add-item .new-todo, .todo .add-item .add {
  border: none;
  font-size: 16px;
  padding: 15px 20px;
  outline: none;
}

.todo .add-item .new-todo {
  width: 80%;
  color: #888;
  border-radius: 50px 0 0 50px;
}

.todo .add-item .add {
  width: 20%;
  background: #6060bb;
  color: #ddd;
  border-radius: 0 50px 50px 0;
  text-transform: uppercase;
}

.todo .add-item .add:hover {
  background: #5050aa;
  color: #fff;
}

.todo .list-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.todo .list-main .list {
  width: 50%;
  border: 1px solid #aaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.todo .list-main .list h3 {
  text-align: center;
}

.todo .list-main .list .item {
  margin: 5px;
  font-size: 16px;
}

.todo .list-main .list .item input.hide {
  display: none;
}

.todo .list-main .list .item label {
  margin-left: 5px;
  width: 90%;
}

.todo .list-main .list .item .fa.fa-check {
  color: green;
}

.todo .list-main .list .item button {
  padding: 2px 2%;
  margin-right: 5px;
  float: right;
  border: 0;
  background: #fff;
  color: #ff1f3b;
  outline: none;
}

.todo .list-main .list .item button:hover {
  background: #ddd;
}

.todo .list-main .list h3 {
  border-bottom: 1px solid #aaa;
}

.todo .list-main .list:first-child h3 {
  color: #a03c32;
}

.todo .list-main .list:last-child h3 {
  color: #3ca032;
}

.todo .list-main span {
  display: block;
  text-align: center;
  height: 100%;
  color: #999;
  padding: 2% 0;
}

.todo .footer {
  display: block-inline;
  border: 1px solid #eee;
  background-color: #eee;
  width: 96%;
  margin: 2% 0 0 0;
  padding: 2%;
}

.todo .footer .tip span {
  color: #f03;
  padding: 1%;
  font-weight: 700;
}

.todo .footer a {
  float: right;
  text-decoration: none;
}
/*# sourceMappingURL=index.css.map */